<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- Annotation Config -->
	<context:annotation-config/>


	<!-- 取${profiles.activation:dev}表示取${profiles.activation}的值，若没有则指定dev -->
	<bean id="propertyConfig"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="UTF-8"/>
		<property name="locations" >
			<list>
				<value>classpath:${profiles.activation}/jdbcconfig.properties</value>
				<value>classpath:${profiles.activation}/template.properties</value>
				<value>classpath:${profiles.activation}/config.properties</value>
			</list>
		</property>
	</bean>

	<!--&lt;!&ndash;引入配置属性文件 &ndash;&gt;
	<context:property-placeholder location="classpath*:config.properties" />-->

	<!--自动扫描含有@Service将其注入为bean -->
	<context:component-scan base-package="com.hsyd.yycw.service" />
</beans>